.idea/**/*
# застосувати, якщо робоча середа буде в IDE: WebStorm або IntelHID. Список конфігурацій про локальний комп'ютер, на якому пишеться код.
.vscode/**/*
# /**/* транслює ігнор на всі файли зазначеної папки.
.DS_store/**/*

node_modules/**/*

*.xml
*.iml
# *.розширення файлу означає ігнорування усіх файлів з зазначеним розширення.