* {
  box-sizing: border-box;
  /* ВАЖЛИВО! Задля фіксованого розміру встановлених width & height елементів. За замовчуванням box-sizing: content-box; тоді розмір елементу буде змінюватись в залежності від розміру контенту. То є не ок.*/
  font-family: sans-serif;
}

/* .block {
  width: 200px;
  height: 160px; Не вказуємо висоту, щоб уникати переповнення контенту.
  швидке написання: w200+h160
} */

.container {
  width: 1165px;
  margin: 0 auto;
}

.navigation--wrapper {
  box-shadow: 8px 4px 15px rgba(95, 95, 95, 0.156);
}
/* Якщо потрібно закріпити навігаційну панель при скролінгу сторінки, то треба задати background-color. Якщо не потрібно - то залишаємо так. */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
}

.navigation__logo {
  width: 53px;
  height: 58px;
}
/* Для більшого контролю розміру картинки .svg в різних станах батьківського елементу, ми в index.html змінюємо w100%+h100%. А в style.css зазначаємо їх першочергові розміри. */

.navigation__menu {
  max-width: 60%;
  width: 100%;

  display: flex;
  gap: 40px; /* Ця властивість використовується тільки сучасними браузерами (аналітика Can I Use), тому треба відштовхуватись від клієнто-орінтованості замовника і робити висновки.*/
}

.navigation__item {
  /* margin-right: 40px; Може бути замість gap: 40px;.*/
}

.navigation__link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.navigation__profile {
  width: 34px;
  height: 34px;
}

