@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900);

* {
  box-sizing: border-box;
  /* ВАЖЛИВО! Задля фіксованого розміру встановлених width & height елементів. За замовчуванням box-sizing: content-box; тоді розмір елементу буде змінюватись в залежності від розміру контенту. То є не ок.*/
  font-family: Roboto, sans-serif;
}

/* .block {
  width: 200px;
  height: 160px; Не вказуємо висоту, щоб уникати переповнення контенту.
  швидке написання: w200+h160
} */

.container {
  width: 1165px;
  margin: 0 auto;
}

/* NAVIGATION start *****************/

.navigation--wrapper {
  box-shadow: 8px 4px 15px rgba(95, 95, 95, 0.156);
}
/* Якщо потрібно закріпити навігаційну панель при скролінгу сторінки, то треба задати background-color. Якщо не потрібно - то залишаємо так. */

.navigation {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 6fr) 3fr minmax(100px, 4fr);
  grid-gap: 0 30px;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;
}

.navigation__logo {
  width: 53px;
  height: 58px;
}
/* Для більшого контролю розміру картинки .svg в різних станах батьківського елементу, ми в index.html змінюємо w100%+h100%. А в style.css зазначаємо їх першочергові розміри. */

.navigation__menu {
  justify-self: center;
  display: flex;
  gap: 40px; /* Ця властивість використовується тільки сучасними браузерами (аналітика Can I Use), тому треба відштовхуватись від клієнто-орінтованості замовника і робити висновки.*/
}

.navigation__item {
  /* margin-right: 40px; Може бути замість gap: 40px;.*/
}

.navigation__link {
  justify-self: center;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.navigation__profile {
  display: flex;
  align-items: center;
  justify-self: end;
  /* justify-self: end; В grid прилипили контент ячейкі до правого кінця вплотну. */
  gap: 15px;
  /* Якщо браузер не підтримує, то застосовуємо margin.  */
}

.navigation__profile-icon {
  width: 34px;
  height: 34px;
}

.navigation__profile-text {
  font-size: 18px;
  line-height: 21px;
}

/**************** NAVIGATION end *****************/
/**************** HERO start ****************/

.hero-bg {
  background-image: linear-gradient(
    to top,
    #566a82 0%,
    #566a82 50%,
    transparent calc(50% + 1px)
  );
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 50px 60px;
  margin-top: 30px;

  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15),
    -2px -2px 5px rgba(20, 29, 61, 0.15);
}

.hero__content {
  width: 365px;
}

.hero__image {
  width: 543px;
  height: 400px;
}

.hero__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;

  color: #0d1c41;

  margin-bottom: 6px;
  /* Коллапс - це: margin: 11px; + margin: 21px; = margin: 21px;  */
}

.hero__title--light {
  font-weight: 100;
  text-transform: uppercase;
  font-style: italic;
}

.hero__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #0d1c41;

  margin: 20px 0;
}

.hero__btn {
  display: inline-block;

  width: 265px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #4a607a;
  color: #0d1c41;

  padding: 20px;

  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
}

/* HERO end ****************/

.section-title {
  width: 644px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 72px;
  font-weight: 500;
  text-align: center;
}

.section-title--white {
  color: #fff;
}

/* BENEFITS CARD start */

.benefit-wrapper {
  background-color: #566a82;
  padding: 68px 0 90px;
}

.benefit-list {
  margin-top: 76px;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 165px;
  height: 190px;
  padding: 35px 0;

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px -26px 0px #ddd0a4, 0px 2px 18px rgba(41, 41, 41, 0.1);
}

.benefit-card__text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #0d1c41;
}

/*********** BENEFITS END ***********/
/*********** CONDITIONS START ***********/

.conditions--wrapper {
  padding: 50px 0;
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conditions-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.conditions-content {
  width: 346px;
}

.conditions__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 100px;
}

.conditions__text {
  font-size: 24px;
  line-height: 25px;
}

.conditions__text-thin {
  font-size: 24px;
  line-height: 25px;
  font-weight: 100;
}

/*********** CONDITIONS END ***********/
/*********** HELP-STEPS START ***********/

.emergancy-steps--wrapper {
  padding: 50px 0;
}

.emergancy-steps {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(4, 165px);
  justify-content: center;
  grid-gap: 55px 30px;
}

.emergancy-steps__item {
  padding: 30px 16px;
  display: grid;
  justify-items: center;
  text-align: center;
  /* Недоресно використовувати grid в такому випадку. */

  border-radius: 20px;
  border: 1px solid #4a607a;
  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
}

.emergancy-steps__text {
  font-size: 14px;
  line-height: 16px;

  margin-top: 20px;

  color: #000000;
}

.emergancy-steps__content {
  grid-column: 1 / span 4;
  padding: 40px 20px;

  box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 13px;
}
