.conditions--wrapper {
  padding: 50px 0;
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conditions-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.conditions-content {
  width: 346px;
}

.conditions__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 100px;
}

.conditions__text {
  font-size: 24px;
  line-height: 25px;
}

.conditions__text-thin {
  font-size: 24px;
  line-height: 25px;
  font-weight: 100;
}